

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Antic Slab, Playfair Display, sans-serif;
  background: #f1f1f1;
  /* background-color: #000; */
}
h4{
font-size: 30px;
}

p{
font-size: 18px;
}